
<article class="grid_8">
	<div class="indent-left">
		<h3 class="prev-indent-bot">What is this project about?</h3>
		<div class="wrapper img-indent-bot">
			<div class="extra-wrap">
				<p>Explanation here!</p>
			</div>
		</div>
	</div>
</article>